<header>
  <div class="profile-pic-container"></div>
  <div class="name-container">
    <div class="name">Shibin Champadan </div>
    <div class="designation">Frontend Developer </div>
  </div>
  <div class="skills-container">
      <div class="skills-label" *ngFor="let skill of skills">{{skill}}</div>
  </div>
  <div class="contact-container">
    <div>
      <span><img src="../assets/images/phone.png" height="20" width="20"></span><span>+91 6362325353</span>
    </div>
    <div>
      <span><img src="../assets/images/email.png" height="20" width="20"></span><span>shibinc2009@gmail.com</span>
    </div>  
  </div>
</header>
<section>
  <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
</section>