header{
    width: 100%;
    height: 28vh;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(2, 83, 88, 0.911));
}
.name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    .name{
        font-weight: bold;
        font-size: 30px;
    }
    .designation{
        display: block;
        font-size: 15px;
        font-weight: bold;
    }
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 50vw;
    .skills-label{
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: 2px solid #65ffe3;
        padding: 15px;
        margin: 10px;
        height: 20px;
        font-weight: bolder;
        font-family: cursive;
        color: #ffffff;
        text-shadow: 0 0 3px rgb(8 129 70 / 87%), 0 0 5px #73f9c5;
    }
}

.contact-container{
    display: flex;
    flex-direction: column;
    .phone-label{
        background-image: url("../assets/images/phone.png");
        background-size: cover;
        width: 25px;
        height: 25px;
        display: inline-block;
    }
    .email-label {
        background-image: url("../assets/images/email.png");
        background-size: cover;
        width: 25px;
        height: 25px;
        display: inline-block;
    }
}
.profile-pic-container{
    background-image: url("../assets/images/dp.png");


    background-size: cover;
    border-radius: 50%;
    height: 26vh;
    width: 13vw;
    border: 2px solid #eee;
    padding: 5px;
}